body {
    margin: 0 auto;
    text-align: center;
}

.grid {
    background-color: blanchedalmond;
    border: 20px solid #000;
    border-radius: 5px;
    display: grid;
    height: 960px;
    margin: 40px auto;
    width: 960px;
}